@model dynamic

@{
ViewBag.Title = "_Content";
var data = DateTime.Now.Year;
}

    <div class="container-fluid">
        <div style="margin-right: 240px;">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <h5 class="text-info">MovieNight @data</h5>
                <p>The best team in the world</p>
            </div>
            <div class="col-md-4 mb-3 mb-md-0 text-md-center">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="javascript:void(0);" class="text-white">About Us</a></li>
                    <li><a href="javascript:void(0);" class="text-white">Help</a></li>
                    <li><a href="javascript:void(0);" class="text-white">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-md-right">
                <h5>Follow Us</h5>
                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm rounded-circle mr-2">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm rounded-circle mr-2">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm rounded-circle mr-2">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm rounded-circle">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; @data MovieNight. All Rights Reserved.</p>
            </div>
        </div>
        </div>
    </div>
