@using MovieNight.Web.Infrastructure
@model dynamic

@{
    ViewBag.Title = "_Lbar";
}

<div>

    <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li class="menu-title">Navigation</li>

                <li>
                    <a href=@Url.Action("Primary","MainPage") class="waves-effect">
                        <i class="remixicon-home-4-fill"></i>
                        <span> Home </span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="remixicon-dashboard-fill"></i>
                        <span> Media </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href=@Url.Action("News","MainPage")>o News</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Top","MainPage")>o	 Top</a>
                        </li>
                        <li>
                            <a href=@Url.Action("AreWatching","MainPage")>o Are Watching</a>
                        </li>
                        
                        
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class=" remixicon-movie-2-fill"></i>
                        <span> Cinema </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href=@Url.Action("MovieSearch", "SearchSortAdd")>Films</a>
                        </li>
                        <li>
                            <a href=@Url.Action("SerialsSearch","SearchSortAdd")>Serials</a>
                        </li>
                        <li>
                            <a href=@Url.Action("CartoonsSearch","SearchSortAdd")>Cartoons</a>
                        </li>
                        <li>
                            <a href=@Url.Action("AnimeSearch","SearchSortAdd")>Anime</a>
                        </li>
                        <li>
                            <a href=@Url.Action("RandomFilm","SearchSortAdd")>Random film</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Novelty", "SearchSortAdd")>Novelty</a>
                        </li>
                        @if(HttpContext.Current.GetMySessionObject() != null){<li>
                            <a href=@Url.Action("ForYou", "SearchSortAdd")>For You</a>
                        </li>}
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="mdi mdi-email"></i>
                        <span > Email </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href=@Url.Action("Inbox","DataTransfer", new { skipParametr = 0 })>Inbox</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Compose","DataTransfer")>Compose Email</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href=@Url.Action("FriendsPage","SearchSortAdd", new { _skipParametr = 0 }) class="waves-effect">
                        <i class="remixicon-user-smile-fill"></i>
                        <span> My friends </span>
                    </a>
                </li>

                <li>
                    <a href=@Url.Action("Calendar","Notification") class="waves-effect">
                        <i class="remixicon-calendar-todo-line"></i>
                        <span> Сalendar </span>
                    </a>
                </li>

                @*<li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="mdi mdi-briefcase"></i>
                        <span> UI Elements </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="ui-buttons.html">Buttons</a>
                        </li>
                        <li>
                            <a href="ui-cards.html">Cards</a>
                        </li>
                        <li>
                            <a href="ui-portlets.html">Portlets</a>
                        </li>
                        <li>
                            <a href="ui-tabs-accordions.html">Tabs & Accordions</a>
                        </li>
                        <li>
                            <a href="ui-modals.html">Modals</a>
                        </li>
                        <li>
                            <a href="ui-progress.html">Progress</a>
                        </li>
                        <li>
                            <a href="ui-notifications.html">Notifications</a>
                        </li>
                        <li>
                            <a href="ui-ribbons.html">Ribbons</a>
                        </li>
                        <li>
                            <a href="ui-spinners.html">Spinners</a>
                        </li>
                        <li>
                            <a href="ui-general.html">General UI</a>
                        </li>
                        <li>
                            <a href="ui-typography.html">Typography</a>
                        </li>
                        <li>
                            <a href="ui-grid.html">Grid</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="widgets.html" class="waves-effect">
                        <i class="mdi mdi-mine"></i>
                        <span> Widgets </span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="mdi mdi-trophy-variant"></i>
                        <span class="badge badge-info float-right">Hot</span>
                        <span> Admin UI </span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="admin-sweet-alert.html">Sweet Alert</a>
                        </li>
                        <li>
                            <a href="admin-nestable.html">Nestable List</a>
                        </li>
                        <li>
                            <a href="admin-treeview.html">Treeview</a>
                        </li>
                        <li>
                            <a href="admin-range-slider.html">Range Slider</a>
                        </li>
                        <li>
                            <a href="admin-carousel.html">Carousel</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="mdi mdi-cards"></i>
                        <span> Forms </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="forms-elements.html">General Elements</a>
                        </li>
                        <li>
                            <a href="forms-advanced.html">Advanced</a>
                        </li>
                        <li>
                            <a href="forms-validation.html">Validation</a>
                        </li>
                        <li>
                            <a href="forms-pickers.html">Pickers</a>
                        </li>
                        <li>
                            <a href="forms-wizard.html">Wizard</a>
                        </li>
                        <li>
                            <a href="forms-summernote.html">Summernote</a>
                        </li>
                        <li>
                            <a href="forms-quilljs.html">Quilljs Editor</a>
                        </li>
                        <li>
                            <a href="forms-file-uploads.html">File Uploads</a>
                        </li>
                        <li>
                            <a href="forms-x-editable.html">X Editable</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="mdi mdi-table"></i>
                        <span> Tables </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="tables-basic.html">Basic Tables</a>
                        </li>
                        <li>
                            <a href="tables-datatables.html">Data Tables</a>
                        </li>
                        <li>
                            <a href="tables-editable.html">Editable Tables</a>
                        </li>
                        <li>
                            <a href="tables-tablesaw.html">Tablesaw Tables</a>
                        </li>
                        <li>
                            <a href="tables-responsive.html">Responsive Tables</a>
                        </li>
                        <li>
                            <a href="tables-footables.html">FooTables</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="mdi mdi-chart-arc"></i>
                        <span> Charts </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="charts-flot.html">Flot Charts</a>
                        </li>
                        <li>
                            <a href="charts-apex.html">Apex Charts</a>
                        </li>
                        <li>
                            <a href="charts-morris.html">Morris Charts</a>
                        </li>
                        <li>
                            <a href="charts-chartjs.html">Chartjs Charts</a>
                        </li>
                        <li>
                            <a href="charts-c3.html">C3 Charts</a>
                        </li>
                        <li>
                            <a href="charts-peity.html">Peity Charts</a>
                        </li>
                        <li>
                            <a href="charts-chartist.html">Chartist Charts</a>
                        </li>
                        <li>
                            <a href="charts-sparklines.html">Sparklines Charts</a>
                        </li>
                        <li>
                            <a href="charts-knob.html">Jquery Knob Charts</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="mdi mdi-parachute"></i>
                        <span> Icons </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="icons-remix.html">Remix Icons</a>
                        </li>
                        <li>
                            <a href="icons-feather.html">Feather Icons</a>
                        </li>
                        <li>
                            <a href="icons-mdi.html">Material Design Icons</a>
                        </li>
                        <li>
                            <a href="icons-font-awesome.html">Font Awesome</a>
                        </li>
                        <li>
                            <a href="icons-themify.html">Themify</a>
                        </li>
                        <li>
                            <a href="icons-weather.html">Weather</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="mdi mdi-map"></i>
                        <span> Maps </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="maps-google.html">Google Maps</a>
                        </li>
                        <li>
                            <a href="maps-vector.html">Vector Maps</a>
                        </li>
                        <li>
                            <a href="maps-mapael.html">Mapael Maps</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="mdi mdi-share-variant"></i>
                        <span> Multi Level </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level nav" aria-expanded="false">
                        <li>
                            <a href="javascript: void(0);">Level 1.1</a>
                        </li>
                        <li>
                            <a href="javascript: void(0);" aria-expanded="false">
                                Level 1.2
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="nav-third-level nav" aria-expanded="false">
                                <li>
                                    <a href="javascript: void(0);">Level 2.1</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);">Level 2.2</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>*@
            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix">
            
        </div>

    </div>
    <!-- Sidebar -left -->



</div>