@using System.Web.Optimization
@model dynamic

@{
    ViewBag.Title = "Index";
}



<div>

    <ul class="slideshow">
        <li><span>Image 01</span></li>
        <li><span>Image 02</span></li>
        <li><span>Image 03</span></li>
        <li><span>Image 04</span></li>
        <li><span>Image 05</span></li>
        <li><span>Image 06</span></li>
    </ul>


    <div class="content">


        <!-- Start Content-->
        <div class="container-fluid">


            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Movie Night</a></li>
                            </ol>
                        </div>
                        <div style=" background-color: darkslateblue; display: inline-block; 
      padding: 10px; border: 4px solid #4d1d7d; min-width: min-content; max-width: 100%; "> 
                            <h4 class="page-title text-warning font-weight-bold"> The world of cinema. </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-4">
                <div class="card-box ribbon-box" style="width: 400px; height: 300px; border: 4px solid #f2a32c; ">
                    <div class="ribbon ribbon-purple float-left"><i class="mdi mdi-access-point mr-1"></i> Movie Night</div>
                    <h5 class="text-purple float-right mt-0">We see all</h5>
                    <div class="ribbon-content">
                        <p class="mb-0">
                            Movie Night is a service for watching films, rating them,
                            a place where you can share your viewing impressions with
                            friends and view the statistics of your views.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">

                <div class="card" style="border: 2px solid #33127a">
                    <img class="card-img-top img-fluid" src="~/images/logo.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-primary font-weight-bold">
                            Welcome to Movie Night
                        </p>
                    </div>
                </div>

            </div>

            <div class="col-lg-4">
                <div class="card-box ribbon-box" style="border: 5px solid #ffa930">
                    <div class="ribbon ribbon-warning float-left"><i class="mdi mdi-access-point mr-1"></i> Know that</div>
                    <h5 class="text-primary float-right mt-0">I know what you did last summer.</h5>
                    <div class="ribbon-content ">
                        <p class="mb-0">
                            With Movie Night, you get:
                            Infinite access to a wide range of movies spanning all genres, from classic
                            cult favorites to the latest Hollywood blockbusters.
                            The ability to create your own movie library, where you can save your favorite films,
                            share them with friends, and receive recommendations based on your preferences.
                            Social features: Connect with friends, discuss movies, create joint watchlists, and rate films.
                            Personalized recommendations: Our algorithm takes into account your preferences and suggests movies
                            that may interest you.
                            Achievement and progress tracking system: Monitor your successes, unlock achievements, and track your
                            cinematic progress. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card card-inverse text-white" style="background-color: #333; border-color: #333;
      width: 250px; height: 200px; border: 4px solid darkslateblue; ">
                        <div class="card-body ">
                            <h5 class="card-title text-warning"></h5>
                            <p class="card-text">
                                Join Movie Night now and immerse yourself in a world of endless cinematic possibilities,
                                available to you anytime and anywhere.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card text-white bg-primary" style="border: 2px solid #4a1366">
                        <div class="card-body text-warning">
                            <blockquote class="card-bodyquote mb-0">
                                <p>
                                    – your personal cinematic world where every moment
                                    becomes an unforgettable cinematic journey. We offer you not just a movie streaming service,
                                    but a unique platform where cinema comes alive in every frame.
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="rightbar-overlay"></div>
    </div>
</div>
