@using System.Web.Optimization
@model dynamic

@{
    ViewBag.Title = "Index";
}



<div >
    
    <ul class="slideshow">
        <li><span>Image 01</span><div><h3></h3></div></li>
        <li><span>Image 02</span></li>
        <li><span>Image 03</span></li>
        <li><span>Image 04</span></li>
        <li><span>Image 05</span></li>
        <li><span>Image 06</span></li>
    </ul>
    <div class="container">
        <header>
            <h1>The world of cinema. <span>Meet the new</span></h1>
        </header>
    </div>

    <div class="content">
        

        <!-- Start Content-->
        <div class="container-fluid">


            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Minton</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                                <li class="breadcrumb-item active">Meet the new</li>
                            </ol>
                        </div>
                        <h4 class="page-title"></h4>
                    </div>
                </div>
            </div>
        </div>





    </div>
</div>

    <div class="rightbar-overlay"></div>

