@model List<MovieNight.Web.Models.DifModel.TopFilmsModel>
@{
    ViewBag.Title = "Top";
}

<div>
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Movie Night</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Media</a></li>
                                <li class="breadcrumb-item active">Top</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Top</h4>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-12">

                    <!-- Pricing Title-->
                    <div class="text-center pb-2">
                        <h3 class="mb-2">Our <span class="text-primary">Top</span></h3>
                        <p class="text-muted w-50 m-auto">
                            Highest rated motion pictures!
                        </p>
                    </div>

                    <!-- Plans -->
                    <style>
                        .movie-name {
                            font-size: 50px; 
                            color: #3a369c; 
                            font-weight: bold; 
                        }
                    </style>
                    <style>
                        .movie-star {
                            font-size: 30px;
                            color: #420736;
                            font-weight: bold;
                        }
                    </style>
                    <div class="row my-3">
                        <div class="col-12">
                            <div class="card card-pricing">
                                <div class="card-body text-center">
                                    <p class="movie-name">The best</p>
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                    var movie = Model[i];
                                    <div class="movie-container" style="display: flex; align-items: center; justify-content: center; margin-bottom: 20px;">
                                        <a class="btn btn-primary waves-effect waves-light" style="width: 400px; height: 400px; display: flex; align-items: center; justify-content: center; margin-right: 20px;" href="@Url.Action("MovieTemplatePage", "InformationSynchronization", new { id = movie.MovieId })">
                                            <img src="~/images/Nelea/file-bQKB7Sp4KFwAEIUdrY9xoQgH.png" alt="Watch now" style="max-width: 100%; max-height: 100%; object-fit: cover;">
                                        </a>

                                        <img id="posterImage" src="@Url.Content(movie.PosterImage)" class="fa-times-rectangle img-thumbnail" alt="movie-poster" style="width: 400px; height: auto; margin-right: 20px;">
                                    </div>
                                    <h2 class="movie-star">@movie.Star <span class="movie-name" style="font-size: 1.5em; ">@movie.Name</span></h2>
                                    }
                                </div>
                            </div> <!-- end Pricing_card -->
                        </div> <!-- end col -->


                        <div class="col-12">
                            <div class="card card-pricing ribbon-box">
                                <div class="ribbon-two ribbon-two-danger"><span>Popular</span></div>
                                <div class="card-body text-center">
                                    <p class="card-pricing-plan-name font-weight-bold text-uppercase">Terrible</p>
                                    <span class="card-pricing-icon bg-danger text-white">
                                        <i class="fe-award"></i>
                                    </span>
                                    <h2 class="card-pricing-price"><span></span></h2>
                                    <button class="btn btn-danger waves-effect mt-4 btn-block">Watch now</button>
                                </div>
                            </div> <!-- end Pricing_card -->
                        </div> <!-- end col -->

                    </div>
                    <!-- end row -->

                </div> <!-- end col-->
            </div>
            <!-- end row -->

        </div> <!-- container -->

    </div> <!-- content -->


</div>


