
@{
    ViewBag.Title = "Read";
}

<div>
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Movie Night</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Email</a></li>
                                <li class="breadcrumb-item active">Email Read</li>
                            </ol>
                        </div>
                        <h4 class="page-title text-warning font-weight-bold">Email Read</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <!-- Right Sidebar -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-box">
                        <!-- Left sidebar -->
                        <div class="inbox-leftbar">

                            <a href=@Url.Action("Compose","DataTransfer") class="btn btn-primary btn-block waves-effect waves-light">Compose</a>

                            <div class="mail-list mt-4">
                                <a href=@Url.Action("Inbox","DataTransfer") class="list-group-item border-0 text-primary font-weight-bold"><i class="mdi mdi-inbox font-18 align-middle mr-2"></i>Inbox<span class="badge badge-danger float-right ml-2 mt-1">8</span></a>
                                <a href=@Url.Action("Starred","DataTransfer") class="list-group-item border-0 text-warning font-weight-bold"><i class="mdi mdi-star font-18 align-middle mr-2"></i>Starred</a>
                                <a href=@Url.Action("SentMail","DataTransfer") class="list-group-item border-0"><i class="mdi mdi-send font-18 align-middle mr-2"></i>Sent Mail</a>
                                <a href=@Url.Action("Trash","DataTransfer") class="list-group-item border-0"><i class="mdi mdi-delete font-18 align-middle mr-2"></i>Trash</a>
                            </div>

                            <div class="list-group b-0 mail-list">

                                 </div>

                        </div>
                        <!-- End Left sidebar -->

                        <div class="inbox-rightbar">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="false">
                                    <i class="mdi mdi-dots-horizontal font-18"></i> More
                                    <i class="mdi mdi-chevron-down"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <span class="dropdown-header">More Option :</span>
                                    <a class="dropdown-item" href="javascript: void(0);">Mark as Unread</a>
                                    <a class="dropdown-item" href="javascript: void(0);">Add to Tasks</a>
                                    <a class="dropdown-item" href="javascript: void(0);">Add Star</a>
                                    <a class="dropdown-item" href="javascript: void(0);">Mute</a>
                                </div>
                            </div>

                            <div class="mt-4">
                                <h5 class="font-18">Hi Bro, How are you?</h5>

                                <hr />

                                <div class="media mb-4 mt-1">
                                    <img class="d-flex mr-2 rounded-circle avatar-sm" src="assets/images/users/avatar-2.jpg" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <span class="float-right">07:23 AM</span>
                                        <h6 class="m-0 font-14">Jonathan Smith</h6>
                                        <small class="text-muted">From: jonathan@domain.com</small>
                                    </div>
                                </div>

                                <p><b>Hi Bro...</b></p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                                <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
                                <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,</p>

                                <hr />

                                <h6> <i class="fa fa-paperclip mb-2"></i> Attachments <span>(3)</span> </h6>

                                <div class="row">
                                    <div class="col-sm-2">
                                        <a href="#"> <img src="assets/images/attached-files/img-1.jpg" alt="attachment" class="img-thumbnail img-responsive"> </a>
                                    </div>
                                    <div class="col-sm-2 mt-3 mt-sm-0">
                                        <a href="#"> <img src="assets/images/attached-files/img-2.jpg" alt="attachment" class="img-thumbnail img-responsive"> </a>
                                    </div>
                                    <div class="col-sm-2 mt-3 mt-sm-0">
                                        <a href="#"> <img src="assets/images/attached-files/img-3.jpg" alt="attachment" class="img-thumbnail img-responsive"> </a>
                                    </div>
                                </div>
                                <a href="https://dribbble.com/BalkanBrothers" target="_blank" class="text-muted font-13"><i>images used</i></a>

                            </div> <!-- card-box -->

                            <div class="media mb-0 mt-4">
                                <img class="d-flex mr-3 rounded-circle avatar-sm" src="assets/images/users/avatar-7.jpg" alt="Generic placeholder image">
                                <div class="media-body">
                                    <div class="mb-2">
                                        <div class="summernote">
                                            <h6>This is an Air-mode editable area.</h6>
                                            <ul>
                                                <li>
                                                    Select a text to reveal the toolbar.
                                                </li>
                                                <li>
                                                    Edit rich document on-the-fly, so elastic!
                                                </li>
                                            </ul>
                                            <p>
                                                End of air-mode area
                                            </p>

                                        </div> <!-- end summernote-->
                                    </div> <!-- end reply-box -->
                                </div> <!-- end media-body -->
                            </div> <!-- end medi-->

                            <div class="text-right">
                                <button type="button" class="btn btn-primary btn-rounded width-sm">Send</button>
                            </div>

                        </div>
                        <!-- end inbox-rightbar-->

                        <div class="clearfix"></div>
                    </div>

                </div> <!-- end Col -->

            </div><!-- End row -->


        </div> <!-- container -->

    </div> <!-- content -->

</div>

