@model MovieNight.Web.Models.Movie.MovieTemplateInfModel

<div id="loadingIndicator" style="display: none;">
    <img src="~/images/plugins/loading.gif" alt="Loading..." /> 
    <p>Loading...</p>
</div>