
@{
    ViewBag.Title = "FriendsPage";
}

<div>
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">MovieNight</a></li>
                                <li class="breadcrumb-item active">Primary</li>
                            </ol>
                        </div>
                        <h4 class="page-title">My friends</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-lg-8">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label for="inputPassword2" class="sr-only">Search</label>
                                        <input type="search" class="form-control" id="inputPassword2" placeholder="Search...">
                                    </div>
                                    <div class="form-group mx-sm-3"> 
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-4">
                                <div class="text-lg-right mt-3 mt-lg-0">
                                     <button type="button" class="btn btn-outline-primary waves-effect waves-light mr-1"><i class="mdi mdi-settings"></i></button>
                                    <a href="#custom-modal" class="btn btn-outline-primary waves-effect waves-light" data-animation="fadein" data-plugin="custommodal" data-overlayColor="#38414a"><i class="mdi mdi-plus-circle mr-1"></i> Add New</a>
                                </div>
                            </div><!-- end col-->
                        </div> <!-- end row -->
                    </div> <!-- end card-box -->
                </div><!-- end col-->
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-lg-4">
                    <div class="text-center card-box ribbon-box">
                        <div class="clearfix"></div>
                        <div class="pt-2 pb-2">
                            <img src="assets/images/users/avatar-3.jpg" class="rounded-circle img-thumbnail avatar-xl" alt="profile-image">

                            <h4 class="mt-3 font-17"><a href="extras-profile.html" class="text-dark">Richi</a></h4>
                            <p> <span> <a href="#" class="text-pink">richi.com</a> </span></p>

                            <p class="text-muted font-13 mb-3">
                                Hi I'm Richi,do you want to be ny best friend?
                            </p>

                            <button type="button" class="btn btn-primary btn-sm waves-effect waves-light"><i class="mdi mdi-email mr-1"></i> Message</button>
                            <button type="button" class="btn btn-light btn-sm waves-effect"><i class="mdi mdi-phone mr-1"></i> Go to profile</button>

                            <ul class="social-list list-inline mt-3 mb-0">
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-purple text-purple"><i class="mdi mdi-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i class="mdi mdi-google"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github-circle"></i></a>
                                </li>
                            </ul>

                        </div> <!-- end .padding -->
                    </div> <!-- end card-box-->
                </div> <!-- end col -->

                <div class="col-lg-4">
                    <div class="text-center card-box">
                        <div class="pt-2 pb-2">
                            <img src="assets/images/users/avatar-4.jpg" class="rounded-circle img-thumbnail avatar-xl" alt="profile-image">

                            <h4 class="mt-3 font-17"><a href="extras-profile.html" class="text-dark">Nelea</a></h4>
                            <p> <span> <a href="#" class="text-pink">nelea.com</a> </span></p>

                            <button type="button" class="btn btn-primary btn-sm waves-effect waves-light"><i class="mdi mdi-email mr-1"></i> Message</button>
                            <button type="button" class="btn btn-light btn-sm waves-effect"><i class="mdi mdi-phone mr-1"></i> Go to profile</button>

                            <ul class="social-list list-inline mt-3 mb-0">
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-purple text-purple"><i class="mdi mdi-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github-circle"></i></a>
                                </li>
                            </ul>

                        </div> <!-- end .padding -->
                    </div> <!-- end card-box-->
                </div> <!-- end col -->

                <div class="col-lg-4">
                    <div class="text-center card-box">
                        <div class="pt-2 pb-2">
                            <img src="assets/images/users/avatar-5.jpg" class="rounded-circle img-thumbnail avatar-xl" alt="profile-image">

                            <h4 class="mt-3 font-17"><a href="extras-profile.html" class="text-dark">Puh</a></h4>
                            <p> <span> <a href="#" class="text-pink">mywebs.com</a> </span></p>

                            <p class="text-muted font-13 mb-3">
                                Hi I'm Puh, I love puppies.
                            </p>

                            <button type="button" class="btn btn-primary btn-sm waves-effect waves-light"><i class="mdi mdi-email mr-1"></i> Message</button>
                            <button type="button" class="btn btn-light btn-sm waves-effect"><i class="mdi mdi-phone mr-1"></i> Go to profile</button>

                            <ul class="social-list list-inline mt-3 mb-0">
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i class="mdi mdi-google"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github-circle"></i></a>
                                </li>
                            </ul>

                        </div> <!-- end .padding -->
                    </div> <!-- end card-box-->
                </div> <!-- end col -->
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-lg-4">
                    <div class="text-center card-box">
                        <div class="pt-2 pb-2">
                            <img src="assets/images/users/avatar-6.jpg" class="rounded-circle img-thumbnail avatar-xl" alt="profile-image">

                            <h4 class="mt-3 font-17"><a href="extras-profile.html" class="text-dark">Mark</a></h4>
                            <p> <span> <a href="#" class="text-pink">profileq.com</a> </span></p>

                            <button type="button" class="btn btn-primary btn-sm waves-effect waves-light"><i class="mdi mdi-email mr-1"></i> Message</button>
                            <button type="button" class="btn btn-light btn-sm waves-effect"><i class="mdi mdi-phone mr-1"></i> Go to profile</button>

                            <ul class="social-list list-inline mt-3 mb-0">
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-purple text-purple"><i class="mdi mdi-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i class="mdi mdi-google"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github-circle"></i></a>
                                </li>
                            </ul>

                        </div> <!-- end .padding -->
                    </div> <!-- end card-box-->
                </div> <!-- end col -->

                <div class="col-lg-4">
                    <div class="text-center card-box">
                        <div class="pt-2 pb-2">
                            <img src="assets/images/users/avatar-7.jpg" class="rounded-circle img-thumbnail avatar-xl" alt="profile-image">

                            <h4 class="mt-3 font-17"><a href="extras-profile.html" class="text-dark">James</a></h4>
                            <p> <span> <a href="#" class="text-pink">coolweb.com</a> </span></p>

                            <p class="text-muted font-13 mb-3">
                                Hi I'm Johnathn Deo. </p>

                            <button type="button" class="btn btn-primary btn-sm waves-effect waves-light"><i class="mdi mdi-email mr-1"></i> Message</button>
                            <button type="button" class="btn btn-light btn-sm waves-effect"><i class="mdi mdi-phone mr-1"></i> Go to profile</button>

                            <ul class="social-list list-inline mt-3 mb-0">
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-purple text-purple"><i class="mdi mdi-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i class="mdi mdi-google"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
                                </li>
                            </ul>

                        </div> <!-- end .padding -->
                    </div> <!-- end card-box-->
                </div> <!-- end col -->

                <div class="col-lg-4">
                    <div class="text-center card-box">
                        <div class="pt-2 pb-2">
                            <img src="assets/images/users/avatar-8.jpg" class="rounded-circle img-thumbnail avatar-xl" alt="profile-image">

                            <h4 class="mt-3 font-17"><a href="extras-profile.html" class="text-dark">Jade </a></h4>
                            <p> <span> <a href="#" class="text-pink">supported.com</a> </span></p>

                            <p class="text-muted font-13 mb-3">
                                Hi I'm Johnathn Deo.   </p>

                            <button type="button" class="btn btn-primary btn-sm waves-effect waves-light"><i class="mdi mdi-email mr-1"></i> Message</button>
                            <button type="button" class="btn btn-light btn-sm waves-effect"><i class="mdi mdi-phone mr-1"></i> Go to profile</button>

                            <ul class="social-list list-inline mt-3 mb-0">
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-purple text-purple"><i class="mdi mdi-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github-circle"></i></a>
                                </li>
                            </ul>

                        </div> <!-- end .padding -->
                    </div> <!-- end card-box-->
                </div> <!-- end col -->
            </div>
            <!-- end row -->


            <div class="row">
                <div class="col-lg-4">
                    <div class="text-center card-box">
                        <div class="pt-2 pb-2">
                            <img src="assets/images/users/avatar-2.jpg" class="rounded-circle img-thumbnail avatar-xl" alt="profile-image">

                            <h4 class="mt-3 font-17"><a href="extras-profile.html" class="text-dark">Marie E. Tate</a></h4>
                            <p> <span> <a href="#" class="text-pink">website.com</a> </span></p>

                            <button type="button" class="btn btn-primary btn-sm waves-effect waves-light"><i class="mdi mdi-email mr-1"></i> Message</button>
                            <button type="button" class="btn btn-light btn-sm waves-effect"><i class="mdi mdi-phone mr-1"></i> Go to profile</button>

                            <ul class="social-list list-inline mt-3 mb-0">
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-purple text-purple"><i class="mdi mdi-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i class="mdi mdi-google"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github-circle"></i></a>
                                </li>
                            </ul>

                        </div> <!-- end .padding -->
                    </div> <!-- end card-box-->
                </div> <!-- end col -->

                <div class="col-lg-4">
                    <div class="text-center card-box">
                        <div class="pt-2 pb-2">
                            <img src="assets/images/users/avatar-9.jpg" class="rounded-circle img-thumbnail avatar-xl" alt="profile-image">

                            <h4 class="mt-3 font-17"><a href="extras-profile.html" class="text-dark">Elyse D. Davidson</a></h4>
                            <p> <span> <a href="#" class="text-pink">dumosite.com</a> </span></p>

                            <button type="button" class="btn btn-primary btn-sm waves-effect waves-light"><i class="mdi mdi-email mr-1"></i> Message</button>
                            <button type="button" class="btn btn-light btn-sm waves-effect"><i class="mdi mdi-phone mr-1"></i> Go to profile</button>

                            <ul class="social-list list-inline mt-3 mb-0">
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-purple text-purple"><i class="mdi mdi-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i class="mdi mdi-google"></i></a>
                                </li>
                            </ul>

                        </div> <!-- end .padding -->
                    </div> <!-- end card-box-->
                </div> <!-- end col -->

                <div class="col-lg-4">
                    <div class="text-center card-box">
                        <div class="pt-2 pb-2">
                            <img src="assets/images/users/avatar-10.jpg" class="rounded-circle img-thumbnail avatar-xl" alt="profile-image">

                            <h4 class="mt-3 font-17"><a href="extras-profile.html" class="text-dark">Sarah E. Goin</a></h4>
                            <p> <span> <a href="#" class="text-pink">webion.com</a> </span></p>

                            <button type="button" class="btn btn-primary btn-sm waves-effect waves-light"><i class="mdi mdi-email mr-1"></i> Message</button>
                            <button type="button" class="btn btn-light btn-sm waves-effect"><i class="mdi mdi-phone mr-1"></i> Go to profile</button>

                            <ul class="social-list list-inline mt-3 mb-0">
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-purple text-purple"><i class="mdi mdi-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i class="mdi mdi-google"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github-circle"></i></a>
                                </li>
                            </ul>

                        </div> <!-- end .padding -->
                    </div> <!-- end card-box-->
                </div> <!-- end col -->
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-12">
                    <div class="text-right">
                        <ul class="pagination pagination-rounded justify-content-end">
                            <li class="page-item">
                                <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                            <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                            <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                            <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end row -->


        </div> <!-- container -->

    </div> <!-- content -->


</div>

