
@{
    ViewBag.Title = "ViewedList";
}

<div>


    <div class="content">


        <!-- Start Content-->
        <div class="container-fluid">


            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Movie Night</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">My Account</a></li>
                                <li class="breadcrumb-item active">My viewed list</li>
                            </ol>
                        </div>
                        <h4 class="page-title">My viewed list</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">List of what was reviewed</h4>
                       
                        
                        <table id="alternative-page-datatable" class="table dt-responsive nowrap movie-table">
                            <thead>
                                <tr >
                                    <th>Title of the film</th>
                                    <th>Year of release</th>
                                    <th>Review date</th>
                                    <th>Movie Night</th>
                                    <th >Your grade</th>
                                </tr>   
                            </thead>


                            <tbody>
                            <tr>
                                <td>The Shawshank Redemption</td>
                                <td>1994</td>
                                <td>2024-02-20</td>
                                <td>9,28</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>The Godfather</td>
                                <td>1972</td>
                                <td>2024-02-15</td>
                                <td>9,15</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>The Dark Knight</td>
                                <td>2008</td>
                                <td>2024-02-10</td>
                                <td>8,23</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>Forrest Gump</td>
                                <td>1994</td>
                                <td>2024-02-05</td>
                                <td>8.8</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>The Matrix</td>
                                <td>1999</td>
                                <td>2024-02-12</td>
                                <td>8.7</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>Pulp Fiction</td>
                                <td>1994</td>
                                <td>2024-02-18</td>
                                <td>8.9</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>Schindler's List</td>
                                <td>1993</td>
                                <td>2024-02-14</td>
                                <td>8.9</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>Inception</td>
                                <td>2010</td>
                                <td>2024-02-09</td>
                                <td>8.8</td>
                                <td>9</td>
                            </tr><tr>
                                <td>The Shawshank Redemption</td>
                                <td>1994</td>
                                <td>2024-02-20</td>
                                <td>9,28</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>The Godfather</td>
                                <td>1972</td>
                                <td>2024-02-15</td>
                                <td>9,15</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>The Dark Knight</td>
                                <td>2008</td>
                                <td>2024-02-10</td>
                                <td>8,23</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>Forrest Gump</td>
                                <td>1994</td>
                                <td>2024-02-05</td>
                                <td>8.8</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>The Matrix</td>
                                <td>1999</td>
                                <td>2024-02-12</td>
                                <td>8.7</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>Pulp Fiction</td>
                                <td>1994</td>
                                <td>2024-02-18</td>
                                <td>8.9</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>Schindler's List</td>
                                <td>1993</td>
                                <td>2024-02-14</td>
                                <td>8.9</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>Inception</td>
                                <td>2010</td>
                                <td>2024-02-09</td>
                                <td>8.8</td>
                                <td>9</td>
                            </tr>
                            </tbody>
                        </table>

                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->
        </div>



    </div>
</div>

