@using System.Web.Optimization

@{
    ViewBag.Title = "Calendar";
}

<div>
    <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Movie Night</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Calendar</a></li>
                            </ol>
                        </div>
                        <h4 class="page-title text-warning font-weight-bold">Calendar</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <style>
                            /* Увеличение размеров календаря и его содержимого */
                            .datepicker {
                                width: 500px; 
                                height: 600px; 
                                font-size: 35px; 
                            }

                            /* Увеличение размеров заголовков и текста внутри календаря */
                            .datepicker th,
                            .datepicker td {
                                font-size: 35px; 
                            }
                            /* Увеличение расстояния между числами и названиями дней недели */
                            .datepicker th,
                            .datepicker td {
                                padding: 10px;
                            }
                            /* Увеличение размера текста только для класса larger-text */
                            .larger-text {
                                font-size: 20px; 
                            }
                        </style>
                        <div class="row">

                            <div class="col-lg-6">
                                <div class="p-2">
                                    <label class="larger-text text-purple">New movie releases on our website</label>
                                    <div class="input-group">
                                        <div data-provide="datepicker-inline"></div>
                                    </div><!-- input-group -->
                                </div>
                            </div>
                            
                            <div class="col-lg-6">
                                <div class="p-2 text-center mt-5">
                                    <form action="#" class="form-horizontal">
                                        @* <div class="form-group row mb-3"> *@
                                        @*     <label class="larger-text text-purple col-sm-4">Default Functionality</label> *@
                                        @*     <div> *@
                                        @*         <div class="input-group larger-text"> *@
                                        @*             <input type="text" class="form-control" data-provide="datepicker"> *@
                                        @*             <div class="input-group-append"> *@
                                        @*                 <span class="input-group-text"><i class="ti-calendar"></i></span> *@
                                        @*             </div> *@
                                        @*         </div> *@
                                        @*         <!-- input-group --> *@
                                        @*     </div> *@
                                        @* </div> *@

                                        <div class="form-group row mb-3">
                                            <label class="larger-text text-purple col-sm-4">Choose a date</label>
                                            <div>
                                                <div class="input-group">
                                                    <input type="text" class="form-control larger-text text-purple" data-provide="datepicker" data-date-autoclose="true">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"><i class="ti-calendar"></i></span>
                                                    </div>
                                                </div><!-- input-group -->
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="larger-text text-purple col-sm-4">Month View</label>
                                            <div>
                                                <div class="input-group larger-text">
                                                    <input type="text" class="form-control larger-text text-purple" data-provide="datepicker" data-date-format="MM yyyy" data-date-min-view-mode="1">
                                                </div><!-- input-group -->
                                            </div>
                                        </div>
                                        
                                        <div class="form-group row mb-0">
                                            <label class="larger-text text-purple col-sm-4">Year View</label>
                                            <div>
                                                <div class="input-group larger-text">
                                                    <input type="text" class="form-control larger-text text-purple" data-provide="datepicker" data-date-min-view-mode="2">
                                                </div><!-- input-group -->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8 mt-5">
                                                <div class="form-group larger-text">
                                                    <label class="larger-text text-purple col-sm-4" for="event">Event name</label>
                                                    <input type="text" class="form-control" id="event" placeholder="Enter the name of the event" name="event" value="">
                                                </div>
                                            </div>
                                        </div> <!-- end row -->
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div> <!-- end card-box -->
                </div> <!-- end col -->
            </div>
        </div>
</div>




